#Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea

#Test binary
*.test

#Output of the go build command
*.out

#Dependency directories (remove the comment below if you use vendoring)
vendor/

#Go workspace file
go.work

#Enviroment variables file
.env

#IDE
.idea/
.vscode/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db

#Uploads/
uploads/

#Database
*.db
*.sqlite

#Logs
*.log